n8n/Codex Integration Workflow.json
{
  "name": "Codex Integration Workflow",
  "nodes": [
    {
      "parameters": {
        "command": "=codex exec \"{{ $json.body.prompt }}\" --json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        432,
        224
      ],
      "id": "fb39055a-b5b0-45c8-b792-6061c238522f",
      "name": "Execute Codex Prompt"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Codex Webhook').item.json.body.recipients.emails.join(', ') }}",
        "subject": "Codex Integration Workflow",
        "message": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1104,
        32
      ],
      "id": "68f166fb-f66c-404d-9dbe-91fe20164e59",
      "name": "Gmail Send Message",
      "webhookId": "f7d495dd-de7d-4202-b749-216292bf4092",
      "credentials": {
        "gmailOAuth2": {
          "id": "tlS2tP7X2B1KvXCg",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "05432cd9-d2b3-4e44-8212-28405f17eba4",
          "mode": "list",
          "cachedResultName": "RnD Discussion"
        },
        "channelId": {
          "__rl": true,
          "value": "19:KhGX9jZOR_wDXqvq-EtbXw4gnvZYSAnr6ZDhQpNiaBw1@thread.tacv2",
          "mode": "list",
          "cachedResultName": "General",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3AKhGX9jZOR_wDXqvq-EtbXw4gnvZYSAnr6ZDhQpNiaBw1%40thread.tacv2/R%26D%20Discussion?groupId=05432cd9-d2b3-4e44-8212-28405f17eba4&tenantId=bfe53760-c13f-4271-9e14-60cf6e1727b8&allowXTenantAccess=True&ngc=True"
        },
        "contentType": "html",
        "message": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1104,
        224
      ],
      "id": "c13949d4-2679-4ef9-a9bd-ef418a1eca0b",
      "name": "MS Teams Send Message",
      "webhookId": "6925ef6e-2c5e-4081-a3d7-fe9dc41df2ea",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "x9gWBs65kuWF62zf",
          "name": "Microsoft Teams account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6516d53-241d-4ea0-a018-1a4a8f0c4ce9",
              "name": "stdout",
              "value": "={{ $json.stdout.split(\"\\n\").filter(Boolean).map(JSON.parse).find(item => item.item?.type === \"agent_message\").item.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        128
      ],
      "id": "6cb87d58-3916-4b9b-b391-fe0f9e59058b",
      "name": "Mapping Data"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.stdout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        880,
        128
      ],
      "id": "0e85c486-7569-48de-9d3a-5e88e580c57d",
      "name": "Markdown"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "codex-integration-workflow",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        224
      ],
      "id": "706d0402-8bdc-4e1c-a8ce-5445760064ce",
      "name": "Codex Webhook",
      "webhookId": "34ecdc6f-9f42-46a8-85b9-ac20510365da"
    },
    {
      "parameters": {
        "operation": "getAll",
        "teamId": {
          "__rl": true,
          "value": "05432cd9-d2b3-4e44-8212-28405f17eba4",
          "mode": "list",
          "cachedResultName": "RnD Discussion"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        432,
        544
      ],
      "id": "20dd3afc-89e5-42fc-beb2-a626c5358688",
      "name": "Get many channels",
      "webhookId": "7e8de5df-632d-4ee6-b74c-5654406b8688",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "x9gWBs65kuWF62zf",
          "name": "Microsoft Teams account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/workflow/execution",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Codex Webhook UUID').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        656,
        320
      ],
      "id": "afaab1e0-123a-4551-86c2-f9725f2369a8",
      "name": "Socket.IO Execution"
    },
    {
      "parameters": {
        "jsCode": "const uuid = require('uuid');\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.body.id = uuid.v4();\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        224
      ],
      "id": "c5b96594-d42c-4e54-9d9d-c8819a76ee0a",
      "name": "Codex Webhook UUID"
    },
    {
      "parameters": {
        "jsCode": "const uuid = require('uuid');\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.body.id = uuid.v4();\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        544
      ],
      "id": "77b58fe3-e331-47e6-ac8b-1d87b7788183",
      "name": "MS Teams Channels UUID",
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        656,
        544
      ],
      "id": "a0955832-7fa6-4d4b-b7d5-23f8e62be758",
      "name": "Aggregate",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/workflow/channels",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        544
      ],
      "id": "ef9395eb-1964-4099-ae3d-891e44408d16",
      "name": "Socket.IO Channels",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "channels",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        544
      ],
      "id": "5637c5da-8082-4d54-a02a-83dc52a6e933",
      "name": "Channels Webhook",
      "webhookId": "e3c01382-5942-44f4-b7c0-f41d5819bf8b",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Codex Prompt": {
      "main": [
        [
          {
            "node": "Socket.IO Execution",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mapping Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MS Teams Send Message": {
      "main": [
        []
      ]
    },
    "Mapping Data": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send Message": {
      "main": [
        []
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Gmail Send Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "MS Teams Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Codex Webhook": {
      "main": [
        [
          {
            "node": "Codex Webhook UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many channels": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Socket.IO Execution": {
      "main": [
        []
      ]
    },
    "Codex Webhook UUID": {
      "main": [
        [
          {
            "node": "Execute Codex Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MS Teams Channels UUID": {
      "main": [
        [
          {
            "node": "Get many channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Socket.IO Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channels Webhook": {
      "main": [
        [
          {
            "node": "MS Teams Channels UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "84c7a592-e435-4b1e-9a7d-6d3249a4e262",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d0a98d1883d50ab1fb11f1c2089250d1d7492821be2ab8133be1cc4d824c5a45"
  },
  "id": "mC6ecYOIKtoyAtYT",
  "tags": []
}