n8n/Codex Integration Workflow.json
{
  "name": "Codex Integration Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "codex-integration-workflow",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        112
      ],
      "id": "706d0402-8bdc-4e1c-a8ce-5445760064ce",
      "name": "Webhook",
      "webhookId": "34ecdc6f-9f42-46a8-85b9-ac20510365da"
    },
    {
      "parameters": {
        "command": "=codex exec \"{{ $json.body.prompt }}\" --json"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        448,
        112
      ],
      "id": "fb39055a-b5b0-45c8-b792-6061c238522f",
      "name": "Execute Codex Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/workflow/execution",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Workflow ID').item.json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        208
      ],
      "id": "afaab1e0-123a-4551-86c2-f9725f2369a8",
      "name": "Socket.IO"
    },
    {
      "parameters": {
        "sendTo": "hoainhaannguyen@gmail.com",
        "subject": "Codex Integration Workflow",
        "message": "={{ $json.stdout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        -80
      ],
      "id": "68f166fb-f66c-404d-9dbe-91fe20164e59",
      "name": "Gmail Send Message",
      "webhookId": "f7d495dd-de7d-4202-b749-216292bf4092",
      "credentials": {
        "gmailOAuth2": {
          "id": "tlS2tP7X2B1KvXCg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "05432cd9-d2b3-4e44-8212-28405f17eba4",
          "mode": "list",
          "cachedResultName": "RnD Discussion"
        },
        "channelId": {
          "__rl": true,
          "value": "19:KhGX9jZOR_wDXqvq-EtbXw4gnvZYSAnr6ZDhQpNiaBw1@thread.tacv2",
          "mode": "list",
          "cachedResultName": "General",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3AKhGX9jZOR_wDXqvq-EtbXw4gnvZYSAnr6ZDhQpNiaBw1%40thread.tacv2/R%26D%20Discussion?groupId=05432cd9-d2b3-4e44-8212-28405f17eba4&tenantId=bfe53760-c13f-4271-9e14-60cf6e1727b8&allowXTenantAccess=True&ngc=True"
        },
        "contentType": "html",
        "message": "={{ $json.stdout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        896,
        112
      ],
      "id": "c13949d4-2679-4ef9-a9bd-ef418a1eca0b",
      "name": "MS Teams Send Message",
      "webhookId": "6925ef6e-2c5e-4081-a3d7-fe9dc41df2ea",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "x9gWBs65kuWF62zf",
          "name": "Microsoft Teams account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6516d53-241d-4ea0-a018-1a4a8f0c4ce9",
              "name": "stdout",
              "value": "={{ $json.stdout.split(\"\\n\").filter(Boolean).map(JSON.parse).find(item => item.item?.type === \"agent_message\").item.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        16
      ],
      "id": "6cb87d58-3916-4b9b-b391-fe0f9e59058b",
      "name": "Mapping Data"
    },
    {
      "parameters": {
        "jsCode": "const uuid = require('uuid');\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.body.id = uuid.v4();\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        112
      ],
      "id": "c5b96594-d42c-4e54-9d9d-c8819a76ee0a",
      "name": "Workflow ID"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Workflow ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Codex Prompt": {
      "main": [
        [
          {
            "node": "Socket.IO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mapping Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Socket.IO": {
      "main": [
        []
      ]
    },
    "MS Teams Send Message": {
      "main": [
        []
      ]
    },
    "Mapping Data": {
      "main": [
        [
          {
            "node": "MS Teams Send Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow ID": {
      "main": [
        [
          {
            "node": "Execute Codex Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "60f55bae-5e03-434b-b70e-543814706d4b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d0a98d1883d50ab1fb11f1c2089250d1d7492821be2ab8133be1cc4d824c5a45"
  },
  "id": "mC6ecYOIKtoyAtYT",
  "tags": []
}